<launch>
  <arg name="world_file" default="sample_01.world" />
  <arg name="robot_model" default="$(find oit_robosim)/urdf/microbot_01.xacro"/>

  <arg name="use_mouse" default="true" />
  <arg name="use_rviz" default="true" />

  <include file="$(find oit_robosim)/launch/simulation/stage.launch">
    <arg name="world_file" default="$(arg world_file)" />
  </include>

  <include file="$(find oit_robosim)/launch/includes/state_publisher.launch" />

  <group if="$(arg use_mouse)">
    <include file="$(find oit_robosim)/launch/includes/mouse.launch" />
  </group>

  <group if="$(arg use_rviz)">
    <include file="$(find oit_robosim)/launch/includes/rviz.launch">
      <arg name="rviz_conf_file" default="simple.rviz" />
    </include>
  </group>
</launch>
