<launch>
  <arg name="world_file" default="sample_01.world" />
  <arg name="world_dir" default="$(find oit_robosim)/maps" />
  <arg name="world_path" default="$(arg world_dir)/$(arg world_file)"/>

  <param name="/use_sim_time" value="true"/>
  <node pkg="stage_ros" type="stageros" name="stageros" args="$(arg world_path)" respawn="false" >
    <param name="base_watchdog_timeout" value="0.2"/>
  </node>
</launch>
