<launch>
  <arg name="world_name" default="LayoutA_2robots" />
  <arg name="world_dir" default="$(find oit_pbl_maps)/maps" />
  <arg name="robot_model" default="$(find oit_stage_ros)/urdf/microbot_01.xacro"/>

  <arg name="use_mouse" default="true" />
  <arg name="use_rviz" default="true" />
  <arg name="use_rosbridge" default="true" />

  <include file="$(find oit_stage_ros)/launch/stage.launch">
    <arg name="world_name" value="$(arg world_name)" />
    <arg name="world_dir" value="$(arg world_dir)" />
  </include>

  <include file="$(find oit_stage_ros)/launch/includes/tf_2robots.launch" />

  <group if="$(arg use_mouse)">
    <include file="$(find oit_stage_ros)/launch/includes/mouse.launch">
      <arg name="robot_index" value="0" />
    </include>
    <include file="$(find oit_stage_ros)/launch/includes/mouse.launch">
      <arg name="robot_index" value="1" />
    </include>
  </group>

  <include if="$(arg use_rviz)" file="$(find oit_stage_ros)/launch/includes/rviz.launch">
    <arg name="rviz_conf_file" default="simple_2robots.rviz" />
  </include>
  
  <include if="$(arg use_rosbridge)" file="$(find rosbridge_server)/launch/rosbridge_tcp.launch" />
</launch>
